# .gitignore -------------------
/node_modules

*.local

# rocketh
generated
deployments/localhost
deployments/hardhat*
deployments/lan
_metadata

# hardhat
/coverage
/coverage.json
/.coverage-config.json
/.coverage-data.json
cache
artifacts
docs

dist/
# ---------------------------------
deployments
package.json
pnpm-lock.yaml
